::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.row {
  margin: 0;
}

p, li {
  font-weight: 600;
  font-family: Quicksand;
  color: #4d4d4d;
}

h2 {
  margin: 0 !important;
}

header {
  background-color: black;
  background-image: url("../img/canvas-enhancements/canvas-enhancements-landing.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  cursor: context-menu;
}

@media only screen
  /* and (min-device-width: 375px) */
  and (max-width: 750px) {
    header {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }

}

.mainheader {
  width: 50%;
  margin: 0 auto 110px;
  padding: 8px 0;
  display: inline-block;
  border: 2px solid #333;
  background-color: white;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.mainheader h2 {
  font-family: Quicksand;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.3em;
  color: #2c2a2a;
  align-items: center;
}

@media only screen
  /* and (min-device-width: 375px) */
  and (max-width: 1200px){
    .filter-overlay  {
      height: 100%;
    }
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 480px;
}

@media only screen
  /* and (min-device-width: 375px) */
  and (max-width: 750px) {
    .mainheader {
      width: 100%;
      line-height: 1.3em;
      margin: 0 0 100px 0;
    }

    .mainheader span {
      font-size: 17px;
      letter-spacing: 1px;
      line-height: 2em;
    }

    .landing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      height: 480px;
    }
}

.filter-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.landing-name h1 {
  font-family: Lato;
  font-weight: 600;
  text-align: center;
  font-style: normal;
  font-size: 64px;
  line-height: 1.3em;
  letter-spacing: -.03em;
  text-transform: none;
  color: #111 !important;
}

#navbar-real {
  background-color: inherit !important;
  justify-content: center;
}

#navbarSupportedContent, a.nav-link {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
}

a.nav-link:hover {
  color: black !important;
}

.navbar-nav > li {
  font-family: Martel;
  display: flex;
  padding: 0 10px;
}

#custom-navbar {
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  -webkit-transform: rotate(0deg); transform: rotate(0deg);
  -webkit-transition: 0.2s ease; transition: 0.2s ease;
}
.navbar-toggler .navbar-toggler-icon {
  -webkit-transform: rotate(90deg); transform: rotate(90deg);
  outline:none !important;
}

#nav-gen:focus {
  color: black !important;
  border-color: transparent;
  outline: none;
}

#nav-gen {
  stroke: #333;
  border-color: transparent;
}

.navbar-brand {
  font-family: Open Sans;
  font-weight: bold;
  color: #222 !important;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  padding: 0 2%;
}

.disclaimer {
  background-color: #F0F0F0;
  font-family: Roboto;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.disclaimer p {
  padding: 0 10px;
  margin: 0;
}

/* Content */

.project-summary {
  padding: 40px 40px 0 60px;
  font-family: Quicksand;
}

.project-sub-summary {
  padding: 40px;
  font-family: Quicksand;
}

.project-summary h2, .solution h2 {
  font-size: 30px;
  font-family: Lato;
  font-weight: bolder;
  color: #333;
}

.project-sub-summary .sub-header {
  font-weight: 600;
  font-family: Lato;
  color: #595959;
}

p.highlight span, li.highlight span {
  color: black;
  background-color: #c6e4fa;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

p.highlight-blue span {
  color: black;
  background-color: #F4FDFF;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

p.error-highlight span, li.error-highlight span, span.error {
  color: black;
  background-color: #EFC7C7;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

p.bold span {
  color: black;
}

ul li {
  padding: 5px 0px;
}

@media only screen
  /* and (min-device-width: 375px) */
  and (max-width: 750px) {
    .introduction {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .project-summary {
      padding: 40px !important;
    }

    .project-sub-summary {
      padding-top: 0;
      padding-bottom: 0;
     }

     .heading-padding, .solution p {
       padding-left: 40px !important;
       padding-right: 40px !important;
     }
}

.solution {
  padding: 0;
  font-family: Quicksand;

  display: flex;
  flex-direction: column;
}

.solution h4 {
  font-family: Quicksand;
}

.solution h4.subheader {
  font-weight: bold;
}

.solution h3 {
  font-family: Lato;
  font-size: 25px;
  font-weight: 600;
}

.solution h2, .solution p {
  padding: 0 60px;
  margin: 0;
}

.canvas-enhancements, .popover-example, .icon-cases {
  padding: 0 60px;
}

.heading-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.short-padding-top {
  padding-top: 20px !important;
}

.padding-top {
  padding-top: 40px !important;
}

.padding-bottom {
  padding-bottom: 40px !important;
}

.padding-top-bottom {
  padding: 40px 0;
}

.ux-req h2 {
  background-color: #FEFFFA;
}

.four-popover-req .col-sm p {
  padding: 40px 20px;
}

.popover-issue-text, .shorten-distance-issue-text {
  background-color: #EFC7C7;
}

.popover-issue p, .four-popover-req, .old p, .new p, .shorten-dist-issue-compare {
  text-align: center;
}

.three-popover-issues .col-sm {
  padding: 0;
}

.three-popover-issues .col-sm h3 {
  padding-bottom: 5px;
  padding-left: 60px;
}

.three-popover-issues .border-col {
  border-right: solid;
}

@media only screen and (max-width: 575px)  {
  .second-issue:before {
    content: "";
    display: block;
    margin: 40px auto;
    width: 80%;
    border-bottom: solid;
  }
  .three-popover-issues .border-col.first-issue {
    border-right: none;
  }
  .third-issue:before {
    content: "";
    display: block;
    margin: 20px auto 40px auto;
    width: 80%;
    border-bottom: solid;
  }
  .three-popover-issues .border-col.second-issue {
    border-right: none;
  }
  .three-popover-issues .col-sm h3 {
    padding-left: 40px !important;
  }
}

.shorten-distance-issue-visuals p {
  padding: 0 45px 20px 45px;
}

.shorten-dist-issue-compare {
  padding: 0 40px;
}

.reduce-width {
  padding: 40px 60px;
  display: flex;
  align-items: center;
}

.reduce-width .col-2 {
  padding: 0;
}

p.reduce-width-exception {
  padding: 0 !important;
}

.reduce-width-issue-text h3 {
  font-weight: 200;
  font-style: italic;
}

/* Image Styling */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img.hover-animation {
  width: 30%;
}

img.spike-example,
img.shorten-dist-spike-example {
  width: 70%;
}

img.popover-req-img, img.shorten-dist-issue-2 {
  width: 40%;
}

img.shorten-dist-issue {

}

img.popover-issue-gif {
  width: 60%;
}

img.plus-icon {
  display: inline;
  height: 20px;
  width: 20px;
  margin: 0 5px;
}

img.circle-icon {
  display: inline;
  height: 20px;
  width: 12px;
}

img.reduce-width-img, img.reduce-width-icon {
  width: 50%;
}

.old img, .new img {
  width: 90%;
}

.learning-journey .quote {
  font-style: italic;
  color: black;
  padding: 0 40px;
  margin: 0 120px;
  border-left: 2px solid black;
}

/* Footer */

a.content-link {
  color: #0056b3;
}

a.content-link:hover, a.content-link:focus {
  color: #3f2a14;
  text-decoration: none !important;
}

.contact:before {
  content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto 2em auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 0.1em; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.contact {
  padding: 40px 0 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  font-family: Quicksand;
  font-weight: 100;
  font-size: 20px;
}

.contactlabel {
  cursor:default;
  color:#000;
  text-decoration:none;
  text-align: center;
}

/* social media */
.icons {
  padding: 0.1em;
  font-size: 25px;
  text-align: center;
  margin: 5px;
}

.icons:hover, .icons:focus {
  color: #3f2a14;
  text-decoration: none;
}

.fa-facebook {
  /* background: #3B5998; */
  color: black;
}

.fa-twitter {
  /* background: #3B5998; */
  color: black;
}

.fa-linkedin {
  /* background: #007bb5; */
  color: black;
}

.fa-github {
  /* background: black; */
  color: black;
}

.fa-instagram {
  /* background: #125688; */
  color: black;
}

.fa-envelope {
  /* background: #125688; */
  color: black;
}

.fa-link {
  /* background: black; */
  color: black;
}

.footer-stamp {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #202020;
  font-family: Cabin;
  margin: 0;
}
