::selection {
  background: #b3cde0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #b3cde0; /* Gecko Browsers */
}

/* Global box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Landing */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

h1 {
  font-family: "Rashfield";
  font-weight: 600;
  text-align: left;
  font-size: 90px;
  color: #111;
  letter-spacing: 0.1rem;
}

header {
  width: 100%;
  min-height: 100vh;
  background-color: #ede0d4;
  position: relative;
  z-index: 10;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.navbar-brand {
  margin: 0;
}

.logo {
  width: 40%;
  height: 40%;
  max-height: 200px;
}

.navbar {
  width: 100%;
}

nav {
  height: 200px;
}

#navbar-real {
  background-color: inherit !important;
  padding: 0 120px;
  position: relative;
  z-index: 11;
}

#navbarSupportedContent,
a.nav-link,
div.nav-link {
  font-family: "Hanken Grotesk";
  font-size: 20px;
  font-weight: bold;
  color: black !important;
}

a.nav-link:hover,
div.nav-link:hover {
  color: #4e3419 !important;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.navbar-nav > li {
  font-family: "Hanken Grotesk";
  display: flex;
  padding-left: 20px;
  margin-right: 20px;
}

#custom-navbar {
  flex-direction: row;
  justify-content: space-between;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler .navbar-toggler-icon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  outline: none !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#nav-gen:focus {
  color: black !important;
  border-color: transparent;
  outline: none;
}

#nav-gen {
  stroke: #333;
  border-color: transparent;
}

.nav-item.dropdown {
  position: relative;
  cursor: pointer;
}

#workMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  min-width: 160px;
  margin: 0;
  padding: 0;
  background-color: hsla(42.85714286, 28%, 95.09803922%, 1);
  border: none;
  opacity: 0;
}

.nav-item.dropdown:hover #workMenu,
#workMenu:hover {
  opacity: 1;
  display: block !important;
  z-index: 9999;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  color: black !important;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #4e3419;
  color: #f1f1f1 !important;
}

@media only screen and (max-width: 1090px) {
  .navbar-nav > li {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1020px) {
  .navbar-nav > li {
    margin-right: 5px;
  }
}

@media (max-width: 748px) {
  #navbar-real {
    padding: 40px;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 20px;
}

.landing-top {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.landing-text {
  max-width: 60%;
}

.landing-name,
.landing-desc {
  padding-left: 120px;
  padding-right: 20px;
}

.landing-name {
  padding-bottom: 20px;
}

h2 {
  font-family: "Hanken Grotesk";
  line-height: 1.7em;
}

.main-landing-desc {
  font-size: 20px;
}

.sub-landing-desc {
  font-size: 18px;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 120px;
}

.resume,
.contact {
  font-family: "Hanken Grotesk";
  font-weight: bold;
  font-size: 20px;
  border: solid;
  padding: 0.7em 8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 40px;
  width: 100%;
}

.resume-button,
.contact-button {
  margin: 60px 40px 60px 0;
}

.resume {
  background-color: black;
  border-color: black;
  color: hsla(42.85714286, 28%, 95.09803922%, 1);
}

.resume:hover,
.resume:focus {
  border-color: #4e3419;
  background-color: #4e3419;
  color: white;
  transition: background-color border-color 0.2s ease-in;
}

.contact {
  background-color: hsla(42.85714286, 28%, 95.09803922%, 1);
  border-color: hsla(42.85714286, 28%, 95.09803922%, 1);
  color: black;
}

.contact:hover,
.contact:focus {
  color: #4e3419;
  border-color: #4e3419;
  transition: border-color 0.2s ease-in;
}

.landing-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.landing-pfp {
  border-radius: 50%;
  max-width: 60%;
  height: auto;
}

.landing-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 40px 40px 0 40px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 600px;
  margin-right: 120px;
  text-align: left;
}

.introduction h3 {
  font-family: "Rashfield";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.introduction p {
  font-family: "Hanken Grotesk";
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

@media only screen and (max-width: 1640px) {
  .landing-bottom {
    justify-content: flex-start;
    padding: 20px 120px;
  }

  .introduction {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1115px) {
  .landing-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume-button,
  .contact-button {
    margin: 10px 40px;
    width: 100%;
  }

  .resume,
  .contact {
    margin: 10px 0;
  }

  .introduction {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  #navbar-real {
    padding: 60px;
  }

  .landing-top {
    padding: 0;
  }

  .landing {
    flex-direction: column;
    padding: 0 60px;
  }

  .landing-text {
    max-width: 100%;
  }

  .landing-name,
  .landing-desc {
    padding: 0;
  }

  .landing-image {
    max-width: 50%;
    margin-top: 20px;
  }

  .landing-pfp {
    max-width: 100%;
    height: auto;
  }

  h2 {
    line-height: normal;
  }

  .main-landing-desc {
    font-size: 18px;
  }

  .sub-landing-desc {
    font-size: 16px;
  }

  .introduction {
    margin: 0px;
    max-width: 100%;
  }

  .landing-bottom {
    padding: 20px 0;
  }

  .landing-buttons {
    margin: 0;
    padding: 0;
  }

  .resume,
  .contact,
  .resume-button,
  .contact-button {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  #navbar-real {
    padding: 40px;
  }

  .landing {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .landing-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
  }

  .landing-bottom {
    justify-content: flex-start;
    padding: 40px;
  }

  h1 {
    font-size: 80px;
  }

  .landing-image {
    display: inline-block;
    margin: auto;
    max-width: 50%;
    margin-top: 20px;
  }
}

@media (max-width: 748px) {
  #navbar-real {
    padding: 40px;
  }
}

@media (max-width: 390px) {
  body {
    padding: 0;
    margin: 0;
  }

  #navbar-real {
    padding: 40px;
    padding-bottom: 0;
  }

  .navbar-brand img.logo {
    width: 30%;
    height: auto;
  }

  #navbarSupportedContent,
  a.nav-link,
  div.nav-link {
    font-size: 16px;
  }

  .navbar-nav {
    gap: 10px;
  }

  .landing {
    padding: 0 40px;
  }

  .landing-top {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .landing-pfp {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
  }

  .landing-name h1 {
    font-size: 64px;
  }

  .main-landing-desc {
    font-size: 16px;
  }

  .sub-landing-desc {
    font-size: 14px;
  }

  .landing-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-buttons .btn {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
  }

  .landing-bottom {
    padding: 0;
    padding-bottom: 20px;
    text-align: left;
  }

  .introduction {
    padding: 10px;
  }

  .introduction p {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* Project Overview */

.all-projects-overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  padding: 120px 120px 0 120px;
  margin: 0;
}

.proj-overview-header {
  padding-bottom: 40px;
}

.proj-overview-header h2 {
  font-family: "Rashfield";
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.1rem;
}

.proj-desc h3 {
  font-family: "Hanken Grotesk";
  font-weight: bold;
  font-size: 28px;
  line-height: 1.5;
}

.proj-overview-header p {
  font-family: "Hanken Grotesk";
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.proj-overview-header,
.proj-overview-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.proj-overview-content {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
  padding-bottom: 120px;

  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform;
}

.proj-overview-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.proj-container {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 0;

  position: relative;
}

.proj-container img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
}

.proj-desc {
  padding-top: 10px;
}

.proj-container a {
  text-decoration: none;
  color: black;
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.proj-container:hover a,
.proj-container:focus a {
  text-decoration: none;
  color: #4e3419;
  transform: scale(1.05);
}

.proj-container:hover .project-tag,
.proj-container:focus .project-tag {
  max-width: 12em;
  cursor: pointer;
}

.project-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 1.5em;
  padding: 0em 0.2em 0.1em 0.6em;
  box-shadow: 0px 0px 3px 1.2px rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  max-width: 2em;
  overflow: hidden;
  transition: max-width 0.3s ease, transform 0.2s ease-out;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.project-tag:hover {
  cursor: pointer;
}

.web-tag::after,
.pcomp-tag::after,
.hyp-tag::after,
.vc-tag::after,
.fab-tag::after {
  font-size: 20px;
  margin-left: 2px;
  filter: brightness(0.8) saturate(2);
}

.web-tag::after {
  content: "🌐";
}

.pcomp-tag::after {
  content: "⚙️";
}

.hyp-tag::after {
  content: "🎥";
}

.vc-tag::after {
  content: "🎨";
}

.fab-tag::after {
  content: "🛠";
}

@media only screen and (max-width: 991px) {
  .all-projects-overview {
    padding: 60px;
  }
}

@media only screen and (max-width: 900px) {
  .all-projects-overview {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .all-projects-overview {
    padding: 40px;
  }

  .proj-overview-header {
    padding-bottom: 20px;
  }

  .proj-overview-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
  }

  .proj-container {
    flex: 1 1 100%;
    max-width: none;
  }

  .proj-container img {
    height: 250px;
  }

  .proj-overview-header h2 {
    font-size: 28px;
  }

  .proj-desc h3 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .all-projects-overview {
    padding: 40px 60px 20px 60px;
  }

  .proj-overview-header {
    padding-bottom: 20px;
  }

  .proj-overview-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
  }

  .proj-container {
    flex: 1 1 100%;
    max-width: none;
  }

  .proj-container img {
    height: 200px;
  }

  .proj-overview-header h2 {
    font-size: 24px;
  }

  .proj-desc h3 {
    font-size: 20px;
  }

  .proj-overview-header p {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .all-projects-overview {
    padding: 40px;
  }
}

/* Footer */

.footer {
  background-color: #ede0d4;
  color: black;
  padding: 60px 120px 40px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerLabel {
  font-family: "Rashfield";
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.footerIcons {
  margin: 0;
}

.icons {
  padding: 0.1em;
  font-size: 25px;
  margin-bottom: 10px;
}

.icons:hover,
.icons:focus {
  color: #3f2a14;
  text-decoration: none;
}

.fa-github,
.fa-envelope,
.fa-linkedin {
  color: black;
}

.footerStamp {
  font-size: 18px;
  color: #202020;
  font-family: "Hanken Grotesk";
}

.footerStamp p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;
  }
}

.footerReroute {
  margin-top: 10px;
}

.footerReroute-link {
  font-size: 14px;
  color: #202020;
  font-family: "Hanken Grotesk";
  font-weight: 600;
}

.footerReroute-link:hover,
.footerReroute-link:focus {
  color: #4e3419;
  text-decoration: none;
}
